form {
    /* positioning style */
   display: grid;
   row-gap: 20px;
}

.row {
    /* positioning style */
    display: flex;
    column-gap: 15px;
}

.row div:not(.col-1){
    /* positioning style */
    flex-grow: 1;
}

.right-actions-panel {
    /* positioning style */
    width: fit-content;
    margin-left: auto;
}

.save-button {
    /* main style */
    padding-inline: 15px;
    padding-block: 10px;

    border: none;
    border-radius: 10px;

    background-color: red;

    text-transform: capitalize;
    font-weight: 600;

}
