<div class="filter-form-container">
    <form [formGroup]="filterFormGroup">
        <fieldset class="filters-group">
            <legend>Filters</legend>
            <div class="filter-button">
                <button class="clear-button" (click)="clearFilter()">clear all</button>
            </div>
            <div class="field">
                <label for="title">Keyword:</label>
                <input type="text" id="title" formControlName="title">
            </div>
            <div class="field">
                <label for="category">Category:</label>
                <input type="text" id="category" formControlName="category">
            </div>
            <div class="field">
                <label for="ingredient">Ingredient:</label>
                <input type="text" id="ingredient" formControlName="ingredients">
            </div>
            <div class="field">
                <label for="tags">Tags:</label>
                <input type="text" id="tags" formControlName="tags">
            </div>
            <div class="field">
                <label for="prepTime">Preparation Time:</label>
                <input type="text" id="prepTime" formControlName="prepTime">
            </div>
            <div class="field">
                <label for="cookingTime">Cooking Time:</label>
                <input type="text" id="cookingTime" formControlName="cookingTime">
            </div>
            <div class="filter-button">
                <button [disabled]="filterFormGroup.value.title == ''" class="update-button" (click)="updateFilter()">see results</button>
            </div>
        </fieldset>
    </form>
</div>